/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comic+Neue&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "AmaticSC";
  src:url("/portfolio/assets/fonts/Amatic_SC/AmaticSC-Regular.ttf"), 
  url("/assets/fonts/Amatic_SC/AmaticSC-Regular.ttf");
}

@layer base {
  :root {
    
    --color-primary: 'wheat';

    --color-secondary: 'rgba(56, 65, 59, .8)';
    --color-white: 'white';
    --color-black: 'black';
    --color-instagram: 'purple';
  }
}

:root {
  --color-primary: 'wheat';
  --color-secondary: 'rgba(56, 65, 59, .8)';
  --color-white: 'white';
  --color-black: 'black';
  --color-instagram: 'purple';
}
